.App {
  margin: 0 7em;
  text-align: center;
}

.timer-container {
  margin: 1em;
  align-items: center;
}

.timer {
  font-size: 80px;
  margin-right: 1em
}

.btn-primary {
  color: black !important;
  background-color: #fff200 !important;
  border-color: #fff200 !important;
}