
p {
  font-weight: 500;
}

.container {
  max-width: 100% !important;
}

.timer-container {
  margin: 1em;
  align-items: center;
}

.timer {
  font-size: 80px;
  margin-right: 1em
}

.btn-primary {
  color: black !important;
  background-color: #fff200 !important;
  border-color: black !important;
  z-index: 10;
}

.submit-answer-button {
  margin: 1em;
  float: right;
}